<!-- Heading of Single Order Page -->
<div class="container">
  <div class="viewOrderName text-center">
    <h4>Single Order</h4>
    <div>
      <label>Order No.</label>
      <input type="number" class="singleOrderInputMargin">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
<!-- Order List of Single Order Page -->
<div class="container">
  <div class="viewOrderListnLog">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="text-center">Order List</h5>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Order Details</th>
              <th>Address</th>
              <th>Contact Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Order Log of Single Order Page -->
    <div class="orderLog">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="text-center">Order Log</h5>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped" datatable>
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Time</th>
                <th>Date</th>
                <th>Status</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
</div>