<!-- Heading of Single Order Page -->
<div class="container">
  <div class="viewOrderName text-center">
    <h4>Single Order</h4>
    <div>
      <label>Order No.</label>
      <input type="number" class="singleOrderInputMargin">
      <button class="btn btn-primary" (click)="singleOrderDetails()">Submit</button>
    </div>
  </div>
</div>
<!-- Order List of Single Order Page -->
<div class="container">
  <div class="viewOrderListnLog">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="text-center">Order List</h5>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Order Details</th>
              <th>Address</th>
              <th>Contact Details</th>
            </tr>
          </thead>
          <tbody >   
            <tr>
              <td>
                <ul class="list-unstyled">
                  <li>Product Number:{{Information?.orderList?.orderDetails?.productNumber}}</li>
                  <li>Product Name: {{Information?.orderList?.orderDetails?.productName}}</li>
                  <li>Product Description: {{Information?.orderList?.orderDetails?.productDescription}}</li>
                  <li>Product Price: {{Information?.orderList?.orderDetails?.productPrice}}</li>
                </ul></td>
              <td>
                <ul class="list-unstyled">
                  <li>House No. :{{Information?.orderList?.address?.houseNo}}</li>
                  <li>Lane: {{Information?.orderList?.address?.Lane}}</li>
                  <li>Area: {{Information?.orderList?.address?.Area}}</li>
                  <li>Landmark: {{Information?.orderList?.address?.landmark}}</li>
                  <li>City: {{Information?.orderList?.address?.city}}</li>
                  <li>State: {{Information?.orderList?.address?.state}}</li>
                  <li>Pin: {{Information?.orderList?.address?.pin}}</li>
                </ul></td>
              <td>
                <ul class="list-unstyled">
                  <li>Name: {{Information?.orderList?.contactDetails?.name}}</li>
                  <li>Phone Number: {{Information?.orderList?.contactDetails?.phoneNo}}</li>
                  <li>Email Id: {{Information?.orderList?.contactDetails?.emailId}}</li>
                  <li>Alternate Number: {{Information?.orderList?.contactDetails?.alternateNo}}</li>
                </ul></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Order Log of Single Order Page -->
    <div class="orderLog">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="text-center">Order Log</h5>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped" datatable>
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Time</th>
                <th>Date</th>
                <th>Status</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let log  of Information">
                <td></td>
                <td>{{log.orderLog.time}}</td>
                <td>{{log.orderLog.date}}</td>
                <td>{{log.orderLog.status}}</td>
                <td>{{log.orderLog.description}}</td>
              </tr> -->
            </tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
</div>