<!-- Heading of Single Order Page -->
<div class="container">
  <div class="viewOrderName text-center">
    <h4>Single Order</h4>
    <div>
      <label>Order No.</label>
      <input type="number" class="singleOrderInputMargin">
      <button class="btn btn-primary" (click)="singleOrderDetails()">Submit</button>
    </div>
  </div>
</div>
<!-- Order List of Single Order Page -->
<div class="container">
  <div class="viewOrderListnLog">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="text-center">Order List</h5>
      </div>
      <div class="panel-body text-center">
        <div class="divTable">
          <div class="divTableBody">
            <div class="divTableRow">
              <div class="divTableCell">Order Details
                <div class="divTable">
                  <div class="divTableBody">
                    <div class="divTableRow ">
                      <div class="divTableCell">Product Number</div>
                      <div class="divTableCell">{{Information?.orderList?.orderDetails?.productNumber}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Product Name</div>
                      <div class="divTableCell">{{Information?.orderList?.orderDetails?.productName}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Product Description</div>
                      <div class="divTableCell">{{Information?.orderList?.orderDetails?.productDescription}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Product Price</div>
                      <div class="divTableCell">{{Information?.orderList?.orderDetails?.productPrice}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divTableCell">Address
                <div class="divTable">
                  <div class="divTableBody">
                    <div class="divTableRow">
                      <div class="divTableCell">House No</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.houseNo}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Lane</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.Lane}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Area</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.Area}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Landmark</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.landmark}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">city</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.city}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">State</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.state}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Pin</div>
                      <div class="divTableCell">{{Information?.orderList?.address?.pin}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divTableCell">Contact Details
                <div class="divTable">
                  <div class="divTableBody">
                    <div class="divTableRow">
                      <div class="divTableCell">Name</div>
                      <div class="divTableCell">{{Information?.orderList?.contactDetails?.name}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Phone no.</div>
                      <div class="divTableCell">{{Information?.orderList?.contactDetails?.phoneNo}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Email id</div>
                      <div class="divTableCell">{{Information?.orderList?.contactDetails?.emailId}}</div>
                    </div>
                    <div class="divTableRow">
                      <div class="divTableCell">Alternate number</div>
                      <div class="divTableCell">{{Information?.orderList?.contactDetails?.alternateNo}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <table class="table table-bordered">
          <thead>
            <tr>
              <th>Order Details</th>
              <th>Address</th>
              <th>Contact Details</th>
            </tr>
          </thead>
          <tbody >   
            <tr>
              <td>
                <ul class="list-unstyled">
                  <li>Product Number:{{Information?.orderList?.orderDetails?.productNumber}}</li>
                  <li>Product Name: {{Information?.orderList?.orderDetails?.productName}}</li>
                  <li>Product Description: {{Information?.orderList?.orderDetails?.productDescription}}</li>
                  <li>Product Price: {{Information?.orderList?.orderDetails?.productPrice}}</li>
                </ul></td>
              <td>
                <ul class="list-unstyled">
                  <li>House No. :{{Information?.orderList?.address?.houseNo}}</li>
                  <li>Lane: {{Information?.orderList?.address?.Lane}}</li>
                  <li>Area: {{Information?.orderList?.address?.Area}}</li>
                  <li>Landmark: {{Information?.orderList?.address?.landmark}}</li>
                  <li>City: {{Information?.orderList?.address?.city}}</li>
                  <li>State: {{Information?.orderList?.address?.state}}</li>
                  <li>Pin: {{Information?.orderList?.address?.pin}}</li>
                </ul></td>
              <td>
                <ul class="list-unstyled">
                  <li>Name: {{Information?.orderList?.contactDetails?.name}}</li>
                  <li>Phone Number: {{Information?.orderList?.contactDetails?.phoneNo}}</li>
                  <li>Email Id: {{Information?.orderList?.contactDetails?.emailId}}</li>
                  <li>Alternate Number: {{Information?.orderList?.contactDetails?.alternateNo}}</li>
                </ul></td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <!-- Order Log of Single Order Page -->
    <div class="orderLog">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="text-center">Order Log</h5>
        </div>
        <div class="panel-body text-center">
           <!-- <div class="divTable">
            <div class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell">Time
                  <div class="divTable" *ngFor="let log of Information.orderLog">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableCell">{{log.time}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divTableCell">Date
                  <div class="divTable" *ngFor="let log of Information.orderLog">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableCell">{{log.date}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divTableCell">Status
                  <div class="divTable" *ngFor="let log of Information.orderLog">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableCell">{{log.status}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divTableCell">Description
                  <div class="divTable" *ngFor="let log of Information.orderLog">
                    <div class="divTableBody">
                      <div class="divTableRow">
                        <div class="divTableCell">{{log.description}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        
              <table class="table table-bordered table-striped" datatable>
                <tr>
                  <th>S.No.</th>
                  <th>Time</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Description</th>
                </tr>
                <tr *ngFor="let log of Information.orderLog">
                  <td>1</td>
                  <td>{{log?.time}}</td>
                  <td>{{log?.date}}</td>
                  <td>{{log?.status}}</td>
                  <td>{{log?.description}}</td>
                </tr>

              </table>
        </div>
      </div>

    </div>
  </div>
</div>