<div class="container">
  <div class="viewOrderName ">
    <h4 class="text-center">Multiple Order</h4>
    <div class="detailsAlignment">
      <div class="col-md-3">
        <form class="form-inline">
          <label for="countrySelect">Country</label>
          <select class="form-control col-md-offset-1" id="countrySelect">
            <option value="India">India</option>
            <option value="China">China</option>
            <option value="UK">UK</option>
            <option value="Japan">Japan</option>
            <option value="SriLanka">SriLanka</option>
          </select>
        </form>
      </div>
      
      <div class="col-md-3">
        <form class="form-inline">
            <label for="StartDate">Start Date</label>
            <input type="date" class="form-control" id="StartDate">
        </form>  
      </div>
      
      <div class="col-md-3">
          <form class="form-inline">
              <label for="EndDate">End Date</label>
              <input type="date" class="form-control" id="EndDate">
          </form>
      </div>
      
      <div class="col-md-3">
          <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <table class="table table-bordered table-striped data-table">
        <thead>
          <tr>
            <th colspan="6">Multiple Order List</th>
          </tr>
          <tr>
            <th>S.No.</th>
            <th>Header1</th>
            <th>Header2</th>
            <th>Header3</th>
            <th>Header4</th>
            <th>Header5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>

      </table>
</div>