<div class="container">
  <div class="row ">
    <div class="viewDashboard">
      <div class="col-md-4 ">
        <div class="boxes text-center">
          <a href="/singleOrder" class="dashboardtextPosition">Single Order</a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="boxes text-center">
          <a href="/multipleOrder" class="dashboardtextPosition">Multiple Order</a>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="boxes text-center">
          <a href="/reports" class="dashboardtextPosition">Report Order</a>
        </div>
      </div>
    </div>
  </div>
</div>